/* Container */
#agradecimento-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(64, 8, 219, 0.1);
    margin-top: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Ícone de agradecimento */
.icone {
    font-size: 5rem;
    margin-bottom: 20px;
    display: inline-block;
}

/* Textos animados */
#imagem {
    margin-top: 20px;
}


#alert-text {
    display: inline-block;
}

.text1, .text2, .text3 {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #0d6efd;
    margin: 0 5px;
}

.alert-message {
    font-size: 1.5rem;
    color: #6c757d;
    margin-top: 15px;
}

/* Efeitos de animação */
.alert-title-message {
    display: inline-block;
}

/* Responsividade */
@media (max-width: 768px) {
    #agradecimento-container {
        padding: 20px;
    }
    
    .text1, .text2, .text3 {
        font-size: 1.5rem;
    }
    
    .alert-message {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    #agradecimento-container {
        padding: 15px;
    }
    
    .icon-thank-you {
        font-size: 3rem;
    }
    
    .text1, .text2, .text3 {
        font-size: 1.2rem;
        display: block;
        margin: 5px 0;
    }
}